#about-me{
    height: 100vh;
    background-color: var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

#container-about{
    width: 85%;
    height: 60%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light-blue);
    box-shadow: 10px 10px 15px #00000070;
    border-radius: var(--rborder);
}

/* subjects-contents */
#subjects-contents{
    padding: 20px;
    width: 100%;
}

.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.picture{
    width: 25%;
    height: auto;
    border-radius: 50%;
}

.info-about{
    width: 100%;
    margin: 15px;
    padding: 15px;
}

/* me */
address{
    font-weight: 600;
    font-size: var(--letters3);
}

.info-about p{
    margin-top: 10px;
    text-align: justify;
    font-size: var(--letters3);
}

/* skins */
#skins-content .info-about{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.skin{
    width: 35px;
    height: 35px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}

.subj img{
    width: 25px;
    margin: 5px;
}

/* education and experience*/
#education-content, #xp-content{
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

#education-content h1, #xp-content h1{
    font-size: var(--letters2);
}

.local{
    font-size: var(--letters3);
    font-weight: 600;
    width: 95%;
}

.area-date{
    font-size: var(--letters4);
    font-weight: 500;
}

#educ, #experience{
    margin: 25px;
}

.description{
    margin-top: 10px;
    text-align: justify;
    font-size: var(--letters5);
}

/* subjects */
#subjects{
    height: 100%;
}

.subj{
    width: 130px;
    height: calc(100%/4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: var(--rborder);
    font-size: var(--letters3);
}

.subj:hover{
    background-color: var(--soft-pink);
}