#introduction{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

#intro{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

#infos{
    width: 100%;
}

#infos span{
    text-align: left;
    color: var(--light-blue);
    font-size: var(--letters2);
    letter-spacing: 2px;
}

#my-name{
    color: var(--pink);
    font-size: var(--letters1);
    font-weight: 500;
    letter-spacing: 3px;
    margin: 15px;
}

#my-name::after{
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: flash .8s infinite;
}

@keyframes flash{
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}

#social-links{
    width: 100%;
    margin-top: 40px;
}

#social-links img{
    border-radius: 10px;
    margin-right: 40px;
}

#social-links img:hover {
    background-color: var(--soft-pink);
}

#social-links img:active {
    background-color: var(--pink);
}

#figure{
    width: 50%;
    height: auto;
}